-@ val includeJs: Boolean = true
-@ val actionUrl: String = "actions/upload.json"
p Share files securely and easily

form#fileupload(action={ actionUrl } method="POST" enctype="multipart/form-data")
  .row.fileupload-buttonbar
    .span5
      input.noheight(name="invfile")
      span.btn.btn-primary.fileinput-button
        i.icon-plus.icon-white
        span Add files...
        input(type="file" name="files[]" multiple)
      button.btn.btn-inverse.start(type="submit")
        i.icon-upload.icon-white
        span Start upload
      button.btn.btn-inverse.cancel(type="reset")
        i.icon-ban-circle.icon-white
        span Cancel upload
    .span7.fileupload-progress.fade
      .progress.progress-success.progress-striped.active
        .bar(style="width:0%;")
      .progress-extended &nbsp;
  .row
    .span12
    .fileupload-loading
  .row
    .span9
      label(for="passwordInput") Password
      input#passwordInput(type="password" name="password" required="required")
      span.help-block
        | You can specify a password that is used to encrypt the files. If it is left empty, there is a random one generated for you.
      hr/
      input(type="hidden" name="uploadKey" value="")
      table.table.table-striped
        tbody.files(data-toggle="modal-gallery" data-target="#modal-gallery")

script#template-upload(type="text/x-tmpl")
  | {% for (var i=0, file; file=o.files[i]; i++) { %}
  |    <tr class="template-upload fade">
  |         <td class="preview"><span class="fade"></span></td>
  |         <td class="name"><span>{%=file.name%}</span></td>
  |         <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  |         {% if (file.error) { %}
  |             <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
  |         {% } else if (o.files.valid && !i) { %}
  |             <td>
  |                 <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
  |             </td>
  |             <td class="start">{% if (!o.options.autoUpload) { %}
  |                 <button class="btn btn-primary">
  |                     <i class="icon-upload icon-white"></i>
  |                     <span>{%=locale.fileupload.start%}</span>
  |                 </button>
  |             {% } %}</td>
  |         {% } else { %}
  |             <td colspan="2"></td>
  |         {% } %}
  |         <td class="cancel">{% if (!i) { %}
  |             <button class="btn btn-warning">
  |                 <i class="icon-ban-circle icon-white"></i>
  |                 <span>{%=locale.fileupload.cancel%}</span>
  |             </button>
  |         {% } %}</td>
  |     </tr>
  | {% } %}

script#template-download(type="text/x-tmpl")
  | {% for (var i=0, file; file=o.files[i]; i++) { %}
  |     <tr class="template-download fade">
  |         {% if (file.error) { %}
  |             <td></td>
  |             <td class="name"><span>{%=file.name%}</span></td>
  |             <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  |             <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
  |         {% } else { %}
  |             <td class="preview">{% if (file.thumbnail_url) { %}
  |                 <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
  |             {% } %}</td>
  |             <td class="name">
  |                 <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
  |             </td>
  |             <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  |             <td colspan="2"></td>
  |         {% } %}
  |         <td class="delete">
  |             <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
  |                 <i class="icon-trash icon-white"></i>
  |                 <span>{%=locale.fileupload.destroy%}</span>
  |             </button>
  |             <input type="checkbox" name="delete" value="1">
  |         </td>
  |     </tr>
  | {% } %}

- if (includeJs)
  !~ loadAssets("sharry.blueimp.fileupload")